[submodule "dependencies/mruby"]
	path = dependencies/mruby
url=https://github.com/Archytaus/mruby.git
[submodule "dependencies/freetype"]
	path = dependencies/freetype
url=https://github.com/Archytaus/qgame-freetype-mirror.git
[submodule "dependencies/SDL_mixer"]
	path = dependencies/SDL_mixer
url=https://github.com/Archytaus/qgame-sdl2-mixer-mirror.git
[submodule "dependencies/SDL_image"]
	path = dependencies/SDL_image
url=https://github.com/Archytaus/qgame-sdl2-image-mirror.git
[submodule "dependencies/SDL"]
	path = dependencies/SDL
url=https://github.com/Archytaus/qgame-sdl2-mirror.git